:global(a) {
	/* remove link underline */
	text-decoration: none;
}

:global(html, body) {
	margin: 0em;
}

:global(*) {
	box-sizing: border-box;
	padding: 0;
}

body {
	background-color: var(--clr-backdrop);
	color: var(--clr-text);
	min-height: 100svh;
}

a {
	color: rgb(167, 115, 220);
}

::selection {
	color: var(--clr-primary);
	background-color: var(--clr-text);
}