body {
    background: linear-gradient(-15deg, rgba(92, 67, 99, 1) 1%, rgba(26, 26, 29, 1) 55%);
	color: var(--clr-text);

    position: relative;
	min-height: 100svh;
}

/* footer trick */
body::after {
    content: '';
    display: block;        
    height: var(--footer-height);
}

a {
	color: rgb(167, 115, 220);
}

	::selection {
		color: var(--clr-primary);
		background-color: var(--clr-text);
	}