on: 
  workflow_dispatch

jobs:
  ingress:
    runs-on: self-hosted
    steps:
    - name: Setup kubectl
      run: apt install kubectl
    - name: Create kube config
      run: |
        mkdir ${HOME}/.kube
        echo ${{ secrets.KUBE_CONFIG }} | base64 --decode > ${HOME}/.kube/config
    - name: Apply ingress
      run: |
        echo "$(envsubst < k8s/ingress.yml)" > nu-ingress.yml
        kubectl apply -f nu-ingress.yml