on:
  push:
    branches:
      - master
      - 'releases/**'
jobs:
  build:
    runs-on: eye-cluster
    steps:
      - name: Checkout from repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup Node.js environment
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 19

      - name: Install dependencies
        run: npm install ci

      - name: Build node app
        run: npm run build

      - name: Include package.json to build
        run: cp package.json build/

      - name: Install rsync  
        uses:  GuillaumeFalourd/setup-rsync@v1.1

      - name: Rsync to local staging server
        run: |
          echo "${{secrets.CORNEA_SSH_KEY}}" | base64 --decode > /sshkey
          chmod 600 /sshkey
          rsync -e "ssh -o StrictHostKeyChecking=no -i /sshkey" --delete -avz --verbose build ${{secrets.PERSISTENT_VOLUME}}/staging-www.yorqat.com.pvc

  refresh_deploy:
      runs-on: eye-cluster
      needs: build
      steps:
      - name: Setup kubectl
        run: |
          apt-get update
          apt install -y apt-transport-https ca-certificates curl
          curl -fsSL https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo gpg --dearmor -o /usr/share/keyrings/kubernetes-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee /etc/apt/sources.list.d/kubernetes.list
          apt-get update
          apt-get install -y kubectl

      - name: Create kube config
        run: |
          mkdir ${HOME}/.kube
          echo "${{ secrets.CLUSTER_CONF }}" | base64 --decode > ${HOME}/.kube/config

      - name: Rollout restart cluster
        run: |
          kubectl -n staging rollout restart deploy staging-www.yorqat.com
