on:
  push:
    branches:
      - master
      - 'releases/**'
jobs:
  build:
    runs-on: eye-cluster
    steps:
      - name: Checkout from repo
        uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 19.9.0

      - name: Install dependencies
        run: npm install ci

      - name: Build node app
        run: npm run build

      - name: Include package.json to build
        run: cp package.json build/

      - name: Install rsync  
        uses:  GuillaumeFalourd/setup-rsync@v1.1

      - name: Rsync to local staging server
        run: |
          echo "${{secrets.CORNEA_SSH_KEY}}" | base64 --decode > /sshkey
          chmod 600 /sshkey
          rsync -e "ssh -o StrictHostKeyChecking=no -i /sshkey" --delete -avz --verbose build ${{secrets.PERSISTENT_VOLUME}}/staging-www.yorqat.com.pvc

