on:
  workflow_dispatch
  # push:
  #   branches:
  #     - master
  #     - 'releases/**'
jobs:
  build:
    runs-on: eye-cluster
    steps:
      - name: Checkout from repo
        uses: actions/checkout@v3
      - name: Setup Node.js environment
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 19.9.0
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Build node app
        run: pnpm install --force # clean install (not using cache)
      - name: Include package.json to build
        run: cp package.json build/
      - name: Rsync to local staging server
        uses: up9cloud/action-rsync@master
        env:
          HOST: cornea
          KEY: ${{secrets.DEPLOY_SSH_KEY}}
          SOURCE: build/
          TARGET: /pv/staging-www.yorqat.com.pvc
          